$border-color: #dee2e6;
$primary-color: #2196f3;
$text-color: #495057;
$text-color-secondary: #6c757d;
$hover-backgroud-color: #e9ecef;

$topbar-height: 70px;
$sidebar-width: 250px;

$z-index-sidebar: 1010;
$z-index-mask: 1000;

.layout-wapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.layout-topbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: none;
    height: $topbar-height;
    margin-left: $sidebar-width;
    padding-left: 20px;
    padding-right: 20px;
    line-height: $topbar-height;
    border-bottom: 1px solid $border-color;
    transition: margin-left .3s;
}
.menu-button {
    display: none;
    justify-content: center;
    align-items: center;
    width: $topbar-height;
    height: $topbar-height;
    color: $text-color-secondary;
    cursor: pointer;
    &:hover {
        background-color: $hover-backgroud-color;
    }
}
.menu-button-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 20px;
}
.menu-button-line {
    display: flex;
    width: 100%;
    height: 2px;
    background-color: currentColor;
}
.topbar-menu {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    list-style: none;
}
.topbar-menu-item:not(:first-child) {
    margin-left: 20px;
}
.topbar-menu-link {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: $text-color;
    border-bottom: 2px solid transparent;
}
.topbar-menu-link:hover {
    font-weight: bold;
}
.topbar-menu-link.active {
    font-weight: bold;
    border-bottom-color: $primary-color;
}

.layout-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-sidebar;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: $sidebar-width;
    border-right: 1px solid $border-color;
    background-color: #fff;
    transition: transform .3s;
}
.layout-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: none;
    height: 70px;
    border-bottom: 1px solid $border-color;
    font-size: 30px;
    line-height: 70px;
    font-weight: bold;
    text-decoration: none;
    color: $text-color;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
    overflow: auto;
}
.sidebar-menu-category {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.875rem;
    color: $text-color-secondary;
}
.sidebar-menu-category:not(:first-child) {
    margin-top: 20px;
    border-top: 1px solid $border-color;
}
.sidebar-menu-link {
    display: flex;
    align-items: flex-end;
    padding: 5px 10px;
    color: $text-color;
    text-decoration: none;
}
.sidebar-menu-link:hover {
    background-color: $hover-backgroud-color;
}
.sidebar-menu-link.active {
    font-weight: bold;
    border-left: 3px solid $primary-color;
}
.sidebar-menu-link small {
    margin-left: 5px;
    color: $text-color-secondary;
}
.layout-content {
    min-height: 100%;
    margin-left: $sidebar-width;
    transition: margin-left .3s;
}

@media (max-width: 992px) {
    .layout-topbar {
        padding-left: 0;
        margin-left: 0;
    }
    .layout-sidebar {
        transform: translateX(-100%);
    }
    .layout-content {
        margin-left: 0;
    }
    .menu-button {
        display: flex;
    }

    .sidebar-show {
        .layout-mask {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: $z-index-mask;
            background-color: rgba(0,0,0,.4);
            transition: background-color .3s;
        }
        .layout-sidebar {
            transform: translateX(0px);
        }
    }
}